<!-- personal projects -->
<center><h7 id="about">About Me</h7></center>
<section class="about">
                <article>
          
                    <div class="skill-set">

                        <div class="skill-line row">
                            <h4 class="col span-1-of-3">Java</h4>
                            <div class="col span-3-of-6 skill-bar-pro">Proficient</div>
                        </div>

                        <div class="skill-line row">
                            <h4 class="col span-1-of-3">C++</h4>
                            <div class="col span-3-of-6 skill-bar-pro">Proficient</div>
                        </div>

                        <div class="skill-line row">
                            <h4 class="col span-1-of-3">Python</h4>
                            <div class="col span-2-of-6 skill-bar-med">Intermediate</div>
                        </div>

                        <div class="skill-line row">
                            <h4 class="col span-1-of-3">JavaScript</h4>
                            <div class="col span-2-of-6 skill-bar-med">Intermediate</div>
                        </div>

                        <div class="skill-line row">
                            <h4 class="col span-1-of-3">SQL</h4>
                            <div class="col span-1-of-6 skill-bar-entry">Entry</div>
                        </div>

                    </div>
                  
                
                </article>
                <article>
                     <p2>
                     I am a Computer Engineering student at University of Waterloo. I'm working as full-stack developer and passionate about AI! <br><br>

                     I am proficient in Java and C++ development and understand Python, HTML, CSS, JavaScript NodeJs and MySQL. As a computer  engineering student, I am also interested in hardware design and have experience in FPGA board, coding with VHDL and assembly. 
                    </p2>
                </article>  
</section>