     
<center><h7 id="experience">My Experiences</h7></center>
       <section class="section" >

<!--                 <center><h3 class="title-left">Localization Team Lead   |  U of Waterloo Autonomous Vehicle Team </h3> </center> 
         
                <h5 align="right" class="mar">May 2017 - Present   |   Waterloo, Ontario, Canada</h5>
                
                 <div>
                    
                    <p3>  • Determining the location of the vehicle in a global and local frame</br></p3>
                    <p3> • Managing the general members of the subteam </br></p3>
                    
                </div>  -->

                <center><h3 class="title-left">Software Developer   |  HubHead Corp. </h3> </center> 
         
                <h5 align="right" class="mar">January 2017 - April 2017   |   Markham, Ontario, Canada</h5>
                
                 <div>
                    
                    <p3>  • Technology: AngularJS, TypeScript, jQuery, Spring MVC, PostgreSQL, Java, GitHub, Tomcat, Gradle</br></p3>
                    <p3>  • Applied Java and Spring MVC knowledge to enhance project performance </br></p3>
                    <p3>  • Developed font-end skills by editing UI page using HTML, CSS, AngularJS and TypeScript</br></p3>
                    <p3>  • Enhanced database skills by using PostgreSQL to increase searching performance</br></p3>
                    <p3>  • Improved testing and quick learning skills by developing selenium test cases</br> </p3>
                    </p3>
                </div> 

                <center><h3 class="title-left">Software Developer   |   Yunku Technology Co. Ltd. </h3> </center> 
         
                <h5 align="right" class="mar">May 2016 – August 2016 | Qinhuangdao, China</h5>
                
                <div>
                    
                  <p3>  • Programed particular functions (such as exam creator, exam and user management) for online learning system by   using Java, JSP and SQL</br></p3>
                  <p3>  • Enhanced database skills by writing MyBatis to add, delete, update and search data from database</br></p3>
                  <p3>  • Developed user interface by JSP and underdstood HTML, JavaScript and AJAX</br></p3>
                  <p3>  • Understood MVC structure by developing projects from user interface to database level</p3>
                
                </div> 
                
                <center><h3 class="title-left">Marketing Assistant   |   Yesup Media Inc. </h3> </center> 
         
                <h5 align="right" class="mar">May 2015 – July 2015 | Toronto, Ontario, Canada </h5>
                
                <div>
                  <p3>  • Publishing products and writing marketing articles in relative forums</br></p3>
                  <p3>  • Research solutions for SEO and improved web title and descriptions</br></p3>
                  <p3>  • Reach potential customers and introduce products</br></p3>
                  <p3>  • Contact customer and solve their inquires</p3>
                    
                </div> 

        </section>