     
<center><h7 id="experience">My Experiences</h7></center>
       <section class="section" >
                <center><h3 class="title-left">Software Developer   |  Hubhead Corp. </h3> </center> 
         
                <h5 align="right" class="mar">January 2017 - Current   |   Markham, Ontario, Canada</h5>
                
                 <div>
                    <p>
                      • Technology: AngularJS, TypeScript, jQuery, Spring MVC, PostgreSQL, Java, GitHub, Tomcat, Gradle</br>
                      • Applied Java and Spring MVC knowledge to enhance project performance </br>
                      • Developed font-end skills by editing UI page using HTML, CSS, AngularJS and TypeScript</br>
                      • Enhanced database skills by using PostgreSQL to increase searching performance</br>
                      • Improved testing and quick learning skills by developing selenium test cases</br> 
                    </p>
                </div> 

                <center><h3 class="title-left">Software Developer   |   Yunku Technology Co. Ltd. </h3> </center> 
         
                <h5 align="right" class="mar">May 2016 – August 2016 | Qinhuangdao China</h5>
                
                <div>
                    <p>
                    • Programed particular functions (such as exam creator, exam and user management) for online learning system by using Java, JSP and SQL</br>
                    • Enhanced database skills by writing MyBatis to add, delete, update and search data from database</br>
                    • Developed user interface by JSP and underdstood HTML, JavaScript and AJAX</br>
                    • Understood MVC structure by developing projects from user interface to database level
                    </p>
                </div> 
                
                <center><h3 class="title-left">Marketing Assistant   |   Yesup Media Inc. </h3> </center> 
         
                <h5 align="right" class="mar">May 2015 – July 2015 | Toronto, Ontario, Canada </h5>
                
                <div>
                    <p>
                    • Publishing products and writing marketing articles in relative forums</br>
                    • Research solutions for SEO and improved web title and descriptions</br>
                    • Reach potential customers and introduce products</br>
                    • Contact customer and answer their inquires
                    </p>
                </div> 

        </section>