<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header"{% if page.layout == "landing" %} class="alt style2"{% endif %}{% if page.layout == "home" %} class="alt"{% endif %}>
	<a href="{{ "" | absolute_url }}" class="logo"><strong>Home</strong> <span>{{ site.subtitle }}</span></a>
			<a>
			<ul class="icons">
				{% if site.github_url %}
				<li><a href="{{ site.github_url }}" class="icon alt fa-github" target="_blank"><span class="label">GitHub</span></a></li>
				{% endif %}
				{% if site.linkedin_url %}
				<li><a href="{{ site.linkedin_url }}" class="icon alt fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
				{% endif %}

				<li><i><a href="assets/file/Hao_Zhong_Resume.pdf" target="_blank"  class="fa fa-pencil-square-o  fa-lg" ><span class="label">Resume</span></a></i></li>
			</ul>
</a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

	
<!-- Menu -->
<nav id="menu">
	<ul class="links">
        {% for page in site.pages %}
		    {% if page.layout == "home" %}
		        <li><a href="{{ "" | absolute_url }}" class="button next scrolly">{{ page.title }}</a></li>
	    	{% endif %}
		{% endfor %}
	</ul>
<!-- 	<ul class="actions vertical">
		<li><a href="#" class="button special fit">Get Started</a></li>
		<li><a href="#" class="button fit">Log In</a></li>
	</ul> -->
	<ul class="links">
		<li><a href="#about" class="button next scrolly">About Me</a></li>
	</ul>

	<ul class="links">
		<li><a href="#projects" class="button next scrolly">My Project</a></li>
	</ul>
	
	<ul class="links">
		<li><a href="#experience" class="button next scrolly">My Experience</a></li>
	</ul>

	<ul class="links">
		<li><a href="assets/file/Soft.pdf" class="button next scrolly">My Resume</a></li>
	</ul>

	<ul class="links">
		<li><a href="#contact" class="button next scrolly">Contact Me</a></li>
	</ul>
</nav>