<!-- personal projects -->
<center><h7 id="projects">My Projects</h7></center>
<section class="section-projects" >
<section class="tiles">

        <article>
                <span class="image">
                        <img src="/assets/images/rcard.jpg" alt="" />
                </span>
                <header class="major">
                        <h3><a href="https://github.com/LeoZ123/RCard-System" class="link">RCard System</a></h3> 
                        <p>Simple student card consumption system (Programmed by Visual Basic)</p>
                </header>
        </article>
        
        <article>
                <span class="image">
                       <img src="/assets/images/hours.jpg" alt="" />
                </span>
                <header class="major">
                         <h3><a href="https://github.com/LeoZ123/Record-System" class="link">Record System</a></h3>
                        <p>Designed for high school administration officer to track and edit students' community service hours (Programmed by Java)</p>
                </header>
        </article>

        <article>
                <span class="image">
                        <img src="/assets/images/car.jpg" alt="" />
                </span>
                <header class="major">
                        <h3><a href="https://github.com/LeoZ123/Remote-Control-Car" class="link">Remote Control Car</a></h3> 
                        <p>Achieved by Raspberry Pi and sensors (Programmed by C)</p>
                </header>
        </article>

        <article>
                <span class="image">
                        <img src="/assets/images/2048.png" alt="" />
                </span>
                <header class="major">
                        <h3><a href="https://github.com/gmc2777522/2048" class="link">2048 Web Version</a></h3>
                        <p>2048 Web Game (Programmed by JavaScript)</p>
                </header>
        </article>

        <article style="width: 100%">
                <span class="image">
                        <img src="/assets/images/machine_learning.png" alt="" />
                </span>
                <header class="major">
                        <h3><a href="https://github.com/LeoZ123/Machine-Learning-Practice" class="link">Machine Learning</a></h3> 
                        <p>Self-learning Practice (Programmed by Python)</p>
                </header>
        </article>
</section>
</section>