<!-- personal projects -->
<center><h7 id="projects">My Projects</h7></center>
<section class="section-projects" >
<section class="tiles">

        <article>
                <span class="image">
                        <img src="/assets/images/rcard.jpg" alt="" />
                </span>
                <header class="major">
                        <h3><a href="https://github.com/LeoZ123/RCard-System" class="link">RCard System</a></h3> 
                        <p>Simple student card consumption system </p>
                </header>
        </article>
        
        <article>
                <span class="image">
                       <img src="/assets/images/hours.jpg" alt="" />
                </span>
                <header class="major">
                         <h3><a href="https://github.com/LeoZ123/Record-System" class="link">Record System</a></h3>
                        <p>Designed for high school administration officer to track and edit students' community service hours </p>
                </header>
        </article>

        <article style="width: 100%">
                <span class="image">
                        <img src="/assets/images/machine_learning.png" alt="" />
                </span>
                <header class="major">
                        <h3><a href="https://github.com/LeoZ123/Machine-Learning-Practice" class="link">Machine Learning</a></h3> 
                        <p>Self-learning Practice</p>
                </header>
        </article>
</section>
</section>