<!-- personal projects -->
<center><h2>My Projects</h2></center>
<section class="section-projects" id="projects">
<section id="one" class="tiles">

        <article>
                <span class="image">
                        <img src="/assets/images/rcard.jpg" alt="" />
                </span>
                <header class="major">
                        <h3><a href="https://github.com/LeoZ123/RCard-System" class="link">RCard System</a></h3> 
                        <p>Simple student card consumption system </p>
                </header>
        </article>
        
        <article>
                <span class="image">
                       <img src="/assets/images/hours.jpg" alt="" />
                </span>
                <header class="major">
                         <h3><a href="https://github.com/LeoZ123/Record-System" class="link">Record System</a></h3>
                        <p>Designed for high school administration officer to track and edit students' community service hours </p>
                </header>
        </article>
</section>
</section>