<!DOCTYPE html>
<html>

{% include head.html %}

<body>
   
    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>
                    {{ page.landing-title }}
                    <spam class="profile-pic">
                         <img src="assets/images/profil.jpg" alt="profile">
                    </spam>
                </h1>                          
            </header>

            <div class="content">
                <p style="text-transform: uppercase;">{{ site.description }}</p>
                <ul class="actions">
                    <li><a href="#about" class="button next scrolly">Get Started</a></li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Main -->
    <div id="main">
         {% include about.html %}
         {% include tiles.html %}
         {% include experience.html %}
    </div>
    <!-- Footer -->
    {% include footer.html %}

</body>

</html>
